#subtitle{
  margin-top: 250pt;
  margin-left: 150pt;
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  border: 0px solid;
  padding: 20px; 
    width: 500px;
    resize: both;
    overflow: auto;
}


#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

#controls{
  margin-top: 100pt;
}

#div1{
    margin-left: 150pt;
    float: left;
    margin-top: -30pt;
    border: 0px solid;
    padding: 20px;
    width: 500px;
    resize: both;
    overflow: auto;

}

  #div2 {
    margin-left: 475pt;
    margin-top: 100pt;
    border: 2px solid;
    padding: 20px; 
    width: 500px;
    resize: both;
    overflow: auto;
    
  }
 

 
